<h1>About</h1>
<p>
<%=link_to "One Month Rails", "http://onemonthrails.com" %>
</p>
<p>
This is the one month learning application that WILL allow you to start your own company.  And yes I know I need to lighten up on the hyperbole.
</p>
