<div class="footer">
			<small>
					<%= link_to "One Month Rails", "http://onemonthrails.com" %> application by Mattan Griffel.
					<p>
					<%=link_to "John Farmer", "http://johnfarmer.me" %>
					</p>
			</small>	
		</div>